<a href="https://colab.research.google.com/github/ch00226855/CMP414765Spring2021/blob/main/Week1_IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1
# Introduction to Python

Python is today's most popular programming language. It is easy to learn, and has several very powerful scientific computing libraries, making it a powerful environment for scientific computing.

This tutorial will cover basic features of python and two of its libraries: numpy and matplotlib.

This notebook can be opened in Google Colab via this button:

<a href="https://colab.research.google.com/github/ch00226855/CMP414765Spring2021/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Hello World

In [1]:
# Print Hello World

## 2. Variables
- Declare a variable
- Variable types

In [2]:
# Variable are declared without specifying types
a = 4
b = -5
print(a + b)

-1

In [3]:
# The type of a variable is automatically determined
a1 = 4
a2 = "4"
print(type(a1))
print(type(a2))

<class 'int'>
<class 'str'>

In [4]:
# Other commonly-used types are float and boolean
c = 1.5
d = True
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>

In [5]:
# Variable types can be changed like this:
float_a = float(a)

# Exercise: show the variable type of float_a

## 3. Arithmetics

In [7]:
# +, -, *, /

In [8]:
# // -> integer division
print(4 / 3) # gives a floating point number
print(4 // 3) # integer division always give an integer as answer

1.3333333333333333
1

In [9]:
# % -> Get remainder from integer division
print(5 % 3)

2

In [10]:
# ** -> powers
print(3 ** 2) # represents 3 to the power of 2 = 9
print(3 ** (1/2)) # square root of 3

9
1.7320508075688772

Exercise: quadratic formula:

$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$

In [ ]:
# Use quadratic formulat to solve equation x**2 - 5x + 4 = 0
a = 1
b = -5
c = 4

x1 = 
x2 = 

print(x1, x2)

## 4. Assignment Operators

In [11]:
a = 1
a += 1 # a = a + 1
print(a)

2

In [12]:
b, c, d = 2, 3, 4
b -= 5
c *= 10
d /= 2
print(b, c, d)

-3 30 2.0

## 5. Logical Operators

In [13]:
t, f = True, False
print(t, f)

True False

In [14]:
print(True or False) # "or" means or
print(True and False) # "and" means and
print(not True)
print(not False)

True
False
False
True

In [15]:
# Comparisons: >, <, ==, !=, >=, <=
exp1 = (a > 5) and (b < 3)
print(a, b, exp1)

2 -3 False

## 6. Strings

In [16]:
str1 = "Hello"
str2 = 'World'
str3 = '3'
print(type(str3))
print(str1 + str2 + str3) # Use "+" to concatenate strings
print("My \n Name \n Is \t Liang.")
print('I said "Good Morning"') # If the string contains "", then use '' to define the string
print("I said \"Good Morning\"")

<class 'str'>
HelloWorld3
My
 Name
 Is 	 Liang.
I said "Good Morning"
I said "Good Morning"

In [17]:
# Remove extra space at the beginning and the end of a string
data_value = "     Liang Zhao     "
my_name = "Liang Zhao"
print(data_value == my_name)
print(data_value.strip())

False
Liang Zhao

In [18]:
# Split a string
file_names = "Alex, Bob, Clare, David"
file_names.split(", ")

['Alex', 'Bob', 'Clare', 'David']

In [19]:
# String formatting
float_num = 45.67898765
print(float_num)
print("%5.2f" % (float_num))
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Alex", 89, 12.345)
print(formatted_string)
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Bob", 9, 543.21)
print(formatted_string)

45.67898765
45.68
Name:       Alex | Score:    89 | Value: 12.35
Name:        Bob | Score:     9 | Value: 543.21

## 7. Data Containers
Data containers are structures used to contain multiple values.

In [20]:
# List
list1 = [1, 2, 3, 4, 6.5, "Monday", True]

In [22]:
print(list1)
list1.append(12)
print(list1)

[1, 2, 3, 4, 6.5, 'Monday', True]
[1, 2, 3, 4, 6.5, 'Monday', True, 12]

In [23]:
val = list1.pop()
print(val)
print(list1)

12
[1, 2, 3, 4, 6.5, 'Monday', True]

In [24]:
# Indexing
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-2])
print(list1[2:5]) # the second index is exclusive
print(list1[:5]) # omitting the first index means starting from 0
print(list1[2:]) # omitting the second index means going to the end
print(list1[:])

1
2
True
Monday
[3, 4, 6.5]
[1, 2, 3, 4, 6.5]
[3, 4, 6.5, 'Monday', True]
[1, 2, 3, 4, 6.5, 'Monday', True]

In [25]:
len(list1)

7

In [26]:
# Set
set1 = {1, 2, 3, 3, 2, 1}
print(set1)

{1, 2, 3}

In [27]:
# Tuple
tuple1 = (1, 2, 3)
tuple2 = (2, 3, 1)
print(tuple1 == tuple2)

False